* {
    font-family: Lato;
  }
  
  ngx-dropzone,
  .custom-dropzone {
    margin: 20px;
  }
  
  .custom-dropzone {
      height: 250px;
      /* background: #333; */
      color: rgb(20, 18, 18);
      border: 2px solid rgb(20, 18, 18);
      border-radius: 5px;
      font-size: 20px;
  }
  
  .custom-dropzone.ngx-dz-hovered {
    border: 5px solid rgb(235, 79, 79);
  }